/*Globales*/
:root{
    --fondo: #2D2E32;
    --verde: #65F3AB;
    --fondo_body: rgba(37, 38, 42, 0.8);
    --fondo_menu: rgba(37,38,42,1);
}
body{
    background-image: url(../img/fondo.jpg);
    background-size: 100%;
    background-position: center;
    position: relative;
    margin: auto;
}
h1{
    color: white;
    font-size: 2.5rem;
    margin-left: 5rem;
}
h2{
    color: var(--verde);
    font-size: 2rem;
}
h3{
    color: white;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: lighter;
}
h4{
    color: white;
    font-size: 1.1rem;
}
p{
    font-family:'Courier New', Courier, monospace;
    color: white;
}
/*Escritorio*/
/*Header*/
header{
    position: fixed;
    width: 100%;
    z-index: 10000;
}
    /*menu bootstrap*/
.navbar{
    margin-left: 5rem;
    margin-right: 5rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}
.navbar a{
    color: white; 
}
.nav-link:hover{
    background-color: var(--verde);
    font-style: italic;
    font-weight: 500;
}
.navbar-brand{
    display: flex;
    justify-content: center;
    width: 10rem;
}
.navbar-nav{
    display: flex !important;
    justify-content: space-evenly !important;
    width: 100%;
}
.container-fluid img{
    width: 2rem;
}
.active{
    background-color: var(--verde);
    color: black !important;
    font-weight: 600 !important;
}
/*footer*/
.footer_section{
    margin-left: 5rem;
    margin-right: 5rem;
}
.fr3_footer{
    background-color: rgba(37, 38, 42, 0.7);
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 3rem;
}

.menu_footer h4{
    padding-left: 5rem;
}
.menu_footer li{
    list-style: none;
    width: 15rem;
    display: flex;
    justify-content: center;
}
.menu_footer li a{
    display: block;
    color: white;
    text-align: left;
    text-decoration: none;
    margin-left: -2rem;
}
.menu_footer li a:hover:not(.active){
    color: black;
    background-color: var(--verde);
}
.fr2_footer{
    width: 100%;
    display: grid;
    grid-template-columns: 3rem 3rem 3rem;
}
.fr5_redes_footer{
    width: 100%;
    display: grid;
    grid-template-columns: 3rem 3rem 3rem 3rem 3rem;
    max-width: 100%;
}
.derechos{
    background-color: rgba(37, 38, 42, 0.7);
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.8rem;
    text-align: center;
}
.derechos a{
    
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.topnav .icon {
    display: none;
}
/*Home*/
.home_page{
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    background-color: var(--fondo_body);
}
.welcome h2{
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #65F3AB, #fff, #65F3AB);
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s linear infinite;
    position: relative;
}
@keyframes shine{
    0% {
        background-position-x: -50%;
    }
    100% {
        background-position-x: 500%;
    }
}
.body_fr2_1{
    display: grid;
    column-gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}
.body_fr2{
    display: grid;
    column-gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}
.fr2{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    padding: 3rem;
    padding-top: 5rem;
    background-color: rgba(37, 38, 42, 0.7);
}
.fr2_1{
    padding-left: 7rem;
}
.full_stack{
    background-color: var(--verde);
    font-weight: bold;
    width: 16rem;
    text-align: center;
    font-size: 20px;
    color: black;
}
.frase{
    font-size: 2.5rem;
    line-height: 35px;
}
.frase_2{
    color: white;
    font-size: 1.5rem;
    padding-top: 1rem;
    
}
.chat {
    color: var(--verde);
    font-size: 1.5rem;
    padding-top: 5rem !important;
}
.chat a{
    color: var(--verde);
    text-decoration: none;
}
.experiencia{
    font-size: 1.5rem;
    color: white;
    padding-top: 3rem;
}
.watermark_full{
    position: relative;
}
.watermark_full::after{
    content: 'Full Stack';
    font-weight: bold;
    position:absolute;
    top: 12rem;
    right: 5rem;
    opacity: 0.9;
    color: black;
    font-size: 4.5rem;
    -webkit-text-stroke: 2px white;
}
.img_full{
    display: flex;
    justify-content: center;
}
.img_full img{
    width: 30rem;
}
.fr2_2{
    background-color: rgba(37, 38, 42, 0.7);
    width: 94%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    padding: 3rem;
}
.diseno, .full, .seo{
    background-color: #2D2E32;
    width: 80%;
    padding: 1rem 1.5rem;
    margin: 1rem;
    border-radius: 15px;
}
.diseno a{
    color: var(--verde);
    line-height: 5px;
    display: flex;
    justify-content: end;
    text-align: right;
}
.introduction{
    font-size: 4rem;
    color: white;
}
.presentacion_sec{
    margin: 1rem;
}
.present{
    padding-top: 0rem;
}
.historia{
    font-size: 1.1rem;
    text-align: justify;
}
/*Servicios*/
.servicios{
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    background-color: var(--fondo_body);
}
.webdeveloper{
    display: flex;
    justify-content: center;
}
.webdeveloper img{
    width: 40rem;
}
.servicios li{
    color: white;
    list-style-type:square;
}
/*Proyectos*/
.proyectos{
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    background-color: var(--fondo_body);
}
.wordpress{
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 0rem;
    width: 95%;
}
.wordpress_tittle{
    margin-bottom: -2rem !important;
}
.wordpress_2{
    background-color: #2D2E32;
    height: 20rem;
    text-align: center;
    border-radius: 20px;
    margin-top: 2rem;
}
.wordpress_2 img{
    width: 10rem;
    padding-top: 5rem;
}
.abogado{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 5rem;
}
.wordpress_2 a{
    text-decoration: none;
}
.bakereast{
    width: 8rem !important;
    margin-top: -5rem !important;
}
.chabat{
    margin-top: -5rem;
}

.front{
    display: grid;
    column-gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 1rem;
}
.front_2{
    background-color: #2D2E32;
    height: 20rem;
    text-align: center;
    border-radius: 20px;
    margin-top: 2rem;
}
.promoestilo{
    width: 13rem !important;
    margin-top: 5rem;
}
/*Sobre mi*/
.sobre_mi{
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    background-color: var(--fondo_body);
}
.descargar{
    text-align: center;
    padding-top: 2rem;
    margin-bottom: -4rem;
}

.fr2_sobre{
    display: grid;
    column-gap: 1.5rem;
    grid-template-columns: 25% 75%;
    padding: 1rem;
}
.foto{
    width: 10rem;
}
.foto_center{
    display: flex;
    justify-content: center;
}
.fr2_cv{
    display: grid;
    column-gap: 1.5rem;
    grid-template-columns: 20% 80%;
    padding: 1rem;
}
.cv {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
.experiencia{
    font-size: 1.5rem;
    padding-top: 0rem;
}
.formacion{
    list-style-type: none !important;
}
table, th,td{
    border: 1px solid white;
    width: 50rem;
    height: 5rem;    
}
table{
    margin-left: 0rem;
    width: 100%;
}
td{
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
}
th{
    color: white;
    font-size: 1.5rem;
    text-align: center;
}
td{
    color: white;
    width: 20rem;
    text-align: center;
}
.formacion_curso, .formacion_escu, .formacion_ano, .formacion_doc{
    color: white;
    list-style-type: none;
    margin-left: 0rem;
}
.formacion_escu, .formacion_ano, .formacion_doc{
    padding-left: 2rem;
}
.formacion_escu{
    font-size: 1.3rem;
}
.formacion_curso{
    font-size: 1.7rem;
    font-style: italic;
    font-weight: bold;
    border-bottom: 1px solid #65F3AB;
    width: 45rem;
    max-width: 100%;
}
.formacion_ano, .formacion_doc{
    font-size: 1.3rem;
}
/*Contacto*/
.contacto{
    background-color: var(--fondo_body);
    display: grid;
    column-gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    padding-top: 5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
}
.contacto h1{
    margin-left: 0rem;
}
.contac_1sec{
    border-radius: 10px;
    padding: 5rem;
    background-color: var(--fondo);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
.contac{
    display: flex;
    justify-content: space-around;
}
.formulario{
    border-radius: 10px;
    padding: 5rem;
    background-color: var(--fondo);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
input[type=text], select, input[type=tel], input[type=email],textarea{
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.check{
    display: flex;
    justify-content: space-between;
}
input[type=checkbox]{
    margin-left: -4rem;
}
.enviar{
    display: flex;
    justify-content: center;
}
input[type=submit]{
    background-color: var(--verde);
    border-radius: 10px;
    width: 10rem;
    height: 2.5rem;
    font-weight: bold;

}
.map{
    background-color: var(--fondo_body);
    column-gap: 1.5rem;
    grid-template-columns: 1fr;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
}
.map2{
    display: flex;
    justify-content: center;
    background-color: var(--fondo);
    border-radius: 10px;
    margin: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 50rem;
}
/*Tablet*/
@media(max-width:768px){
    .header_fr2{
        margin: 0;
        grid-template-columns: 10% 90%;

    }
    .header_logo{
        justify-content: initial;
    }
    .header_logo img{
        width: 3rem;
    }
    .footer_section{
        margin: 0;
        max-width: 100%;
    }
    .fr3_footer{
        grid-template-columns: 1fr 1fr 1fr;
        width: rem;
        max-width: 100%;
    }
    .menu_footer{
        margin-left: -3rem;
        max-width: 15rem;
    }
    .fr2_footer{
        max-width: 10rem;
    }
    .footer_redes{
        margin-left: -4rem;
    }
    /*Home*/
    .home_page{
        margin: 0;
    }
    .frase{
        font-size: 2rem;
    }
    .frase_2{
        font-size: 1.3rem;
    }
    .img_full img{
        width: 100%;
    }
    .watermark_full::after{
        font-size: 3rem !important;
        top: 8rem;
        right: 3.5rem;
    }
    .chat{
        margin-top: -5rem;
    }
    .body_fr2{
        margin-left: -2.5rem;
        margin-right: -2.5rem;
    }
    .introduction{
        font-size: 3rem;
    }
    /*servicios*/
    .servicios{
        margin: 0;
    }
    /*proyectos*/
    .proyectos{
        margin: 0;
    }
    .wordpress{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .wordpress_2 h4{
        font-size: 1.4rem;
    }
    .front{
        grid-template-columns: 1fr 1fr 1fr;
    }
    /*sobre mi*/
    .sobre_mi{
        margin: 0;
    }
    .fr2_cv{
        grid-template-columns: 1fr;
    }
    .fr2_cv a{
        font-size: 1.5rem;
    }
    table{
        max-width: 90%;
    }
    .formacion_curso{
        max-width: 40rem;
    }
    /*Contacto*/
    .contacto{
        margin: 0;
    }
    .contacto{
        grid-template-columns: 1fr;
        padding-top: 0;
        padding-bottom: 0;
    }
    .map{
        margin: 0;
    }
    .map2{
        margin: 0;
        max-width: 90%;
    }
}
/*Smartphone*/
@media(max-width:400px){
        /*menu*/
    .header_menu{
        justify-content:end;
    }
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    /*header*/
    .header_fr2{
        grid-template-columns: 1fr;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .fr2_header{
        width: 100%;
        grid-template-columns: 1fr;
    }
    .logo{
        justify-content: center;
        margin-left: -1rem;
    }
    #collapseNav{
        flex-wrap: wrap;
        width: 80%;
    }
    /*footer*/
    .footer_section{
        margin: 0;;
    }
    .fr3_footer{
        grid-template-columns: 1fr;
    }
    .menu_footer{
        margin-left: 2rem;
    }
    .menu_footer h4{
        padding: 0;
        text-align: center;
    }
    .menu_footer li{
        width: 100%;
        text-align: center;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .fr3_footer h4{
        text-align: center;
    }
    .fr2_footer{
        margin-left: 5rem;
    } 
    .footer_redes h4{
        text-align: center;
        margin-left: 5rem;
    }
    .fr5_redes_footer{
        justify-content: center;
        margin-left: 2rem;
    }
    /*home*/
    .welcome h2{
        animation: shine 15s linear infinite;
    }
    .home_page{
        padding-top: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0;
    }
    .body_fr2_1{
        grid-template-columns: 100%;
        margin-left: 0.5rem;
        margin-right: 0.5rem;

    }
    .frase{
        font-size: 1.8rem;
        width: 100%;
        height: 4rem;
        line-height: 30px;
    }
    .frase_2{
        font-size: 1.3rem;
        width: 100%;
    }
    .chat{
        width: 100%;
    }
    .img_full img{
        width: 100%;
    }
    .watermark_full::after{
        font-size: 3rem;
        top: 8rem;
        right: 3rem;
    }
    .body_fr2{
        grid-template-columns: 100%;
        margin-left: 0rem;
    }
    .present{
        font-size: 1.5rem;
    }
    .introduction{
        font-size: 3rem;
    }
    /*Servicios*/
    .servicios{
        padding-top: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0;
    }
    .webdeveloper img{
        width: 100%;
    }
    /*Proyectos*/
    .proyectos{
        padding-top: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0;
    }
    .wordpress{
        grid-template-columns: 1fr 1fr;
    }
    .wordpress_2{
        height: 15rem;
    }
    .wordpress_2 img{
        width: 7rem !important;
        padding-top: 3.5rem;
    }
    .abogado{
        padding-top: 1rem;
    }
    .chabat{
        padding-top: 5rem !important;
    }
    .front{
        grid-template-columns: 50% 50%;
    }
    .front_2 img{
        width: 10rem !important;
    }
    /*sobre mi*/
    .sobre_mi{
        padding-top: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0;

    }
    .descargar{
        padding-top: 1rem;
        margin-bottom: 0rem;
    }
    .fr2_sobre{
        grid-template-columns: 100%;
    }
    .fr2_cv{
        grid-template-columns: 100%;
    }
    .fr2_cv a{
        font-size: 1.2rem;
    }

    th{
        font-size: 1.2rem;
        font-weight: lighter;
    }
    td{
        font-size: 0.8rem;
    }
    .formacion_curso{
        width: 100%;
    }
    /*Contacto*/
    .contacto{
        padding-top: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0;
    }
    .home_section{
        grid-template-columns: 1fr;
    }
    .contac_1sec, .formulario{
        padding: 2rem;
        margin-top: 1rem;
    }
    .map{
        grid-template-columns: 100%;
        margin: 0;
    }
    .map2{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}